*/bin/Debug/*
*/obj/x86/Debug/*
*/obj/*
*.suo
*.exe
*.pdb
*.dll
Thumbs.db
*.cache
*.resources
*.CopyComplete
.vs
AzusaERP/packages
.idea
*.DotSettings.user
DEADJOE
*~
/AzusaERP/libazustreamblob/obj/Debug
/AzusaERP/libazustreamblob/bin/Debug
/AzusaERP/libini/obj/Debug
/AzusaERP/wikidumpParser/bin/Debug
/AzusaERP/wikidumpParser/obj/Debug
*.csproj.user
/AzusaERP/MigrationBackup/c21c364a/AzusaERP
