<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="DiscUtils" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.BootConfig" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Btrfs" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Core" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Dmg" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Ext" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Fat" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.HfsPlus" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Iscsi" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Iso9660" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Lvm" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Net" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Nfs" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Ntfs" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.OpticalDiscSharing" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.OpticalDisk" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Registry" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Sdi" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.SquashFs" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Streams" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Swap" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Udf" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Vdi" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Vhd" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Vhdx" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Vmdk" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Wim" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Xfs" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="DiscUtils.Xva" version="0.15.1-ci0002" targetFramework="net461" />
  <package id="HashLib" version="2.0.1" targetFramework="net461" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net461" />
  <package id="KeePassLib" version="2.30" targetFramework="net461" />
  <package id="lzo.net" version="0.0.6" targetFramework="net461" />
  <package id="MailKit" version="2.4.1" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="MimeKit" version="2.4.1" targetFramework="net461" />
  <package id="NEbml" version="0.1.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Npgsql" version="4.1.2" targetFramework="net461" />
  <package id="NPlot" version="0.9.10.0" targetFramework="net461" />
  <package id="NTwain" version="3.6.0" targetFramework="net461" />
  <package id="ObjectListView.Official" version="2.9.2-alpha2" targetFramework="net461" />
  <package id="SharpGIS.NmeaParser" version="1.10.0" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview5.19224.8" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Json" version="4.7.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="TagLibSharp" version="2.2.0" targetFramework="net461" />
</packages>